/* BACKGROUND IMAGE */
body{
  background-image: url("background1.png");
  background-size: cover;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1vw;
}

/* Navigation Bar */

.header-nav{
  text-align:right;
}

.header-nav ul{
  list-style-type: none;
  display: inline-block;
}

.header-nav a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

.header-nav a:hover{
  color: #A9A3A3;
}

.header-nav li{
  display:inline;
}

/* HEADER */
.homeheader {
  display: flex;
  text-align: center;
  padding-left: 20%;
  font-size: 8vw;
}

.futureheader{
  display: flex;
  text-align: center;
  padding-left: 10%;
  font-size: 6vw;
  line-height: 6vw;
}

.contactheader{
  display: flex;
  text-align: center;
  padding-left: 40%;
  font-size: 3vw;
  color: white;
}

/* ABOUT ME */
h2 {
  padding-bottom: 100px;
  text-align: center;
  font-size: 3vw;
  line-height:3vw;
}

.future{
  text-align: center;
  font-size: 1.5vw;
  line-height:2vw;
}

.future:last-child{
  padding-bottom: 100px;
}

/* PICTURE */

.info {
  border: 3px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding: 22px;
  text-align: center;
}

.picture {
  height:300px;
  border-radius: 50%;
  margin-top: -160px;
  vertical-align: top;
}

/* ABOUT ME LIST */

.aboutme{
  color: white;
  font-size: 2.5vw;
  list-style-type: none;
  text-align:center;
  line-height:5vw;
  margin-right:42.5px;
}

/* CONTACT ME */
.contact{
  font-size: 2.5vw;
  list-style-type:none;
  text-align:center;
  line-height:5vw;
  margin-right:40px;
}

.contact a{
  color: white;
  text-decoration:none;
}

.contact a:hover{
  color: #A9A3A3;
}

.contact li{
  color:white;
}

/* GIF */
.gif {
  border-radius: 50%;
  height: 300px;
  margin: -160px 0 0 0;
  vertical-align: top;
}
